td,th{
    border: 1px solid black;
    text-align: center;  
}
table,tr,td{
    width: 1500px;
    border-collapse: collapse;
    text-align:center;
    margin:0 auto;
    height:25px;
}
tr:nth-child(3),tr:nth-child(5){
    background-color: red;
}
tr:nth-child(2), tr:nth-child(4){
    background-color: gold;
}

td:nth-child(1){
    text-align:left;
}
td:nth-child(4){
    text-align:right;
}
caption{
    text-align:center;
   font-size: 30px;
   caption-side: bottom;
}
th{
    border: 1px solid black;
    text-align: center;  
    background-color:rgb(240, 238, 238)

}

th:nth-child(1){
    text-align:left;
}
th:nth-child(4){
    text-align:right;
}