td{
    border: 1px solid black;
    text-align: center;  
}
table,tr,td{
    width: 1500px;
    border-collapse: collapse;
    text-align:center;
    margin:0 auto;
    height:25px;
}
tr:nth-child(3){
    background-color: red;
}
tr:nth-child(2){
    background-color: gold;
}
tr:nth-child(4){
    background-color: gold;
}
tr:nth-child(5){
    background-color: red;
}

td:nth-child(1){
    text-align:left;
}
td:nth-child(4){
    text-align:right;
}
h1{
    text-align:center;
   font-size: 30px;
}